<!DOCTYPE html>
<html>
<title>Coursmate.io</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}

.card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 100px;
    margin: 1rem ;
    margin-left: 10%;
    position: relative;
    width: 80%;
    padding-left: 2%;
    padding-top: 1%;
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#rightButton{
  float:right;
  
  height:40px;
  width:10%;
  margin-top:1%;
  margin-right: 2%; 
}
#leftTitle{
  float:right;
  border: 2px solid red;
}
#heading{
  display: inline;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/landing" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/getRec" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CATALOG</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>

    <a href="/logout" class="w3-padding-large w3-hover-red w3-hide-small w3-right">LOGOUT</a>
  </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="https://udemy-images.udemy.com/notices/home_banner/image_responsive/346964ca-c6d1-4723-b5ad-c34748522b68.jpg" style="width:100% ; height: 500px;">
    
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">THE COURSEMATE</h2>
    <p class="w3-opacity"><i>We love learning</i></p>
    <p class="w3-justify">Every course on CourseMate is taught by top instructors from the world’s best universities and educational institutions. Courses include recorded video lectures, auto-graded and peer-reviewed assignments, and community discussion forums. When you complete a course, you’ll receive a sharable electronic Course Certificate.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Stanford University</p>
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/growth_frontpage/partners_logo/stanford.png?auto=format%2Ccompress&dpr=2&w=&h=30" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>John Hopkins</p>
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/growth_frontpage/partners_logo/jhu_logo.png?auto=format%2Ccompress&dpr=1&w=&h=30" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Duke University</p>
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/growth_frontpage/partners_logo/Duke_University_Logo.png?auto=format%2Ccompress&dpr=1&w=&h=30" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div>

  <hr>

  <% for(var i=0; i<courses.length ; i++) {%>
    <div class="card">
      <div id="rightButton">
            <input type="button" onclick="location.href='/getCourse?id=<%= courses[i].course_id %>'" value="ENROLL NOW">
      </div>
      
      <h2 id="heading"><%= courses[i].name %></h2>
      |        Instructed by : <%= courses[i].instructor %>

    </div>
  <% } %>

  
<!-- End Page Content -->
</div>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by Node.js</p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
